In [83]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [84]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [85]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [86]:
# Add the Pandas dependency.
import pandas as pd

In [87]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [88]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [89]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Hernandez High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Wilson High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Wright High School", "type": "District"}]

In [90]:
# convert the array to a dataframe
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0  Hernandez High School  District
1          1   Figueroa High School  District
2          2     Wilson High School   Charter
3          3     Wright High School  District

In [91]:
# We can also create the same DataFrame by adding each column as a list, or Series, to an empty DataFrame.
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3]

school_name = ["Hernandez High School", "Figueroa High School",
"Wilson High School","Wright High School"]

type_of_school = ["District", "District", "Charter", "District"]

In [92]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [96]:
#Another way to create this DataFrame is to create a Python dictionary from the three lists, like this:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school name':school_name, 'type':type_of_school}
school_df

   School ID            school_name      type
0          0  Hernandez High School  District
1          1   Figueroa High School  District
2          2     Wilson High School   Charter
3          3     Wright High School  District

In [94]:
#Now we will add each list to the empty schools_df DataFrame by typing the column name in quotes within brackets, like we do when we create a key for a dictionary.
# Instead of using the dictionary name, we'll use the name of the DataFrame and make it equal to the list, like this:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School name"]= school_name
schools_df["Type of school"]= type_of_school

# Print the DataFrame.
schools_df

   School ID            School name Type of school
0          0  Hernandez High School       District
1          1   Figueroa High School       District
2          2     Wilson High School        Charter
3          3     Wright High School       District

In [78]:
#Now we can convert the high_schools_dict to a DataFrame.
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [18]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)